.album{
    width: 95%;
    height: 90%;
    box-sizing: border-box;
    padding: 10px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
}

.back-button{
    padding: 10px;
    align-self: flex-start;
    border-radius: 50%;
    cursor: pointer;
    color: #596e79;
    font-size: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.album-main{
    padding: 0 20px;
}

.album-title{
    font-size: 1.4rem;

    display: flex;
    gap: 10px;
}

.album-rating{
    align-self: flex-end;
    font-size: 1.2rem;
    color: #ececec;
    cursor: pointer;

    display: flex;
}

.fa-location-dot{
    font-size: .8rem;
}

@media (hover:hover){
    .back-button:hover{
        background-color: #596e79;
        color: #f0ece2;
    }
}