@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Ms+Madi&family=Sacramento&family=Yesteryear&family=Roboto+Condensed&family=Caveat&display=swap');

:root{
  font-size: 16px;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  margin: 0;
}

#root{
  max-width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-rows: 1fr;
}

.logo{
  /* font-family: 'Marck Script', cursive; */
  font-family: 'Ms Madi', cursive;
   /* font-family: 'Sacramento', cursive; */
  /* font-family: 'Yesteryear', cursive; */
}

input{

  box-sizing: border-box;
  font-family: inherit;
  font-size: 14px;
  vertical-align: baseline;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: .16px;
  border-radius: 5px;
  outline: 2px solid transparent;
  outline-offset: -2px;
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 1px solid #8d8d8d;
  background-color: #f4f4f4;
  padding: 0 16px;
  color: #161616;
  transition: background-color 70ms cubic-bezier(.2,0,.38,.9),outline 70ms cubic-bezier(.2,0,.38,.9);  
}

input:focus{
  outline: 2px solid #596e79;
  outline-offset: -2px;
}

button {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  align-self: center;
}

button:hover {
  background-color: #1e293b;
  color: #fff;
}

select{
  font-family: inherit;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  background-color: #d8cfcf;
  border-bottom: 1px solid #8d8d8d;
  padding: 0 5px;
}

select:focus{
  outline: 2px solid #596e79;
  outline-offset: -2px;
}

.auth-switch{
  font-size: .8rem;
  color: #fcf4d9;
}

.auth-switch span{
  color: #596e79;
  cursor: pointer;
}

.restaurant-rating{
  display: flex;
  color: #c06c84;
}

.add-button{
  padding: 15px;
  background-color:#596e79;
  border-radius: 50%;
  color:#f0ece2;
  font-size: 1.8rem;
  position: absolute;
  bottom: 20px;
  right: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.album{
  width: 95%;
  height: 90%;
  box-sizing: border-box;
  padding: 10px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;

  display: flex;
  flex-direction: column;
}

.back-button{
  padding: 10px;
  align-self: flex-start;
  border-radius: 50%;
  cursor: pointer;
  color: #596e79;
  font-size: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  button {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}

@media (hover:hover) {
  .restaurant-card:hover{
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  .add-button:hover{
      transform: scale(1.05);
      background-color: #c06c84;
  }
  .back-button:hover{
    background-color: #596e79;
    color: #f0ece2;
}
}